{% extends 'webapp/base.html' %}

{% block content %}
    <h2> Welcome, {{ user }}! 👋 </h2>
    <hr>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <a class="btn btn-primary btn-small" href="{% url 'create-record' %}">
        Create a new record &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </a>

    <hr> 

    <div class="table-wrapper">
        <table class="custom-table">
            <thead>
                <tr>
                    <th> ID </th>
                    <th> Username </th>
                    <th> First Name </th>
                    <th> Last Name </th>
                    <th> Email </th>
                    <th> Phone </th>
                    <th> View </th>
                </tr>
            </thead>

            <tbody>
            {% if records %}
                {% for record in records %}
                <tr>
                    <td> {{ record.id }} </td>
                    <td> {{ record.user.username }} </td>  
                    <td> {{ record.first_name }} </td>
                    <td> {{ record.last_name }} </td>
                    <td> {{ record.email }} </td>
                    <td> {{ record.phone }} </td>
                    <td> 
                        <a class="btn btn-success btn-small" href="{% url 'view-record' record.id %}">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7" class="text-center">No records found.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}